include  ../../form-elements/rate-button/rate-button

//when adding class="no-navigation" mixin to the parameters, the navigation will be hidden

mixin roomCard(number, name, price, stars, count, src1, src2, src3, src4, alt1, alt2, alt3, alt4)
  .room-card
    .room-card__slider
      .swiper
        .swiper-wrapper
          .swiper-slide
            img.swiper-slide__img(src=src1 alt=alt1)
          .swiper-slide
            img.swiper-slide__img(src=src2 alt=alt2)
          .swiper-slide
            img.swiper-slide__img(src=src3 alt=alt3)
          .swiper-slide
            img.swiper-slide__img(src=src4 alt=alt4)
        .swiper-pagination
        .room-card__slider-button-prev&attributes(attributes)
          img.room-card__slider-button-prev-img(src="./assets/img/slider-button-prev.svg" alt="button-prev")
        .room-card__slider-button-next&attributes(attributes)
          img.room-card__slider-button-next-img(src="./assets/img/slider-button-next.svg" alt="button-next")
    .room-card__content
      .room-card__info 
        .room-card__title
          .room-card__number №
          span.room-card__number-room=number
          .room-card__name=name
        .room-card__price=price
          span.room-card__day в сутки
      .room-card__line  
      .room-card__reviews  
        .room-card__rate 
          +rateButton(stars)
        .room-card__total-reviews  
          .room-card__count=count
          .room-card__reviews-word Отзывов
