mixin inputField
  .input-field.container-input-field
    h3.input-field__title.title-form text field
    input.input-field__input.long-input(type='email' placeholder='Email')
mixin dropdown
  .dropdown.container-input-field
    h3.dropdown__title.title-form dropdown
    .dropdown__input-wrap.input-wrap
      input.dropdown__input.long-input(placeholder='Сколько гостей' readonly)
mixin inputMaskedField
  .input-masked.container-input-field
    h3.input-masked__title.title-form masked text field
    input.input-field__input.long-input(type='text' placeholder='ДД.ММ.ГГГГ')
mixin dataDropdown
  .date-dropdown.container-input-field
    .dropdown
      h3.dropdown__title.title-form date dropdown
      .dropdown__input-wrap.input-wrap
        input.dropdown__input.short-input(placeholder='ДД.ММ.ГГГГ')
    .dropdown
      h3.dropdown__title.title-form date dropdown
      .dropdown__input-wrap.input-wrap
        input.dropdown__input.short-input(placeholder='19.08.2019')
mixin filterDateDropdown
  .filter-date-dropdown.container-input-field_middle
    h3.title-form filter date dropdown
    .input-wrap
      input.filter-date-dropdown__input.middle-input(placeholder='19 авг - 23 авг')
mixin subscriptionField
  .subscription-field.container-input-field_middle
    h3.title-form subscription text field
    .input-wrap_void
      input.subscription-field__input.middle-input(placeholder='Email')
      button.subscription-field__button(type='submit')
        img.subscription-field__button-img(src='./assets/img/arrow-forward.svg' alt='button subscription')
mixin quantityChangeBlock(count,value)
  .quantity-change-block(data-step='1' data-min='0' data-max='10')
    button.button-minus(data-title=count) -
    input.quantity(type='text' name=count value=value readonly)
    button.button-plus(data-title=count) +

mixin dropdownSelection
  .dropdown-select.container-input-field_middle
    .dropdown-select__title.title-form dropdown
    .dropdown-select__select
      input.dropdown-select__backdrop.middle-select(value='2 спальни, 2 кровати...' readonly)
      button.dropdown-select__trigger
        img.dropdown-select__trigger-img(src='./assets/img/check.png' alt='select trigger')
      ul.dropdown-select__dropdown.dropdown-container
        li.dropdown-select__item
          .title-form спальни
          +quantityChangeBlock('bedrooms','2')
        li.dropdown-select__item
          .title-form кровати
          +quantityChangeBlock('bed','2')
        li.dropdown-select__item
          .title-form ванные комнаты
          +quantityChangeBlock('bathrooms','2')

mixin dropdownQuests
    .dropdown-quests.container-input-field
      .dropdown-quests__title.title-form dropdown
      .dropdown-quests__select
        input.dropdown-quests__backdrop.long-select(value='Сколько гостей' readonly)
        button.dropdown-quests__trigger
          img.dropdown-quests__trigger-img(src='./assets/img/check.png' alt='select trigger')
        ul.dropdown-quests__dropdown.dropdown-quests-container
          li.dropdown-quests__item
            .title-form взрослые
            +quantityChangeBlock('adults', '0')
          li.dropdown-quests__item
            .title-form дети
            +quantityChangeBlock('children', '0')
          li.dropdown-quests__item
            .title-form младенцы
            +quantityChangeBlock('babies', '0')
          li.dropdown-quests_buttons
            button.dropdown-quests_button.dropdown-quests__reset очистить
            button.dropdown-quests_button.dropdown-quests__apply применить

mixin checkboxButton(name)
  label.checkbox
    input.checkbox__input(type='checkbox')&attributes(attributes)
    span.checkbox__img
    span.checkbox__text=name
mixin checkboxButtons(title)
  .checkbox-buttons__title.title-form=title
  ul.checkbox-buttons__checkbox-list
    li.checkbox-buttons__checkbox-item
      +checkboxButton('Можно курить')(class='checkbox-buttons__button')
    li.checkbox-buttons__checkbox-item
      +checkboxButton('Можно с питомцами')(class='checkbox-buttons__button', checked)
    li.checkbox-buttons__checkbox-item
      +checkboxButton('Можно пригласить гостей (до 10 человек)')(class='checkbox-buttons__button', checked)
mixin expandableCheckboxList
  .expandable-checkbox-list
    .expandable-checkbox-list__title.title-form expandable checkbox list
    button.expandable-checkbox-list__trigger
      img.expandable-checkbox-list__trigger-img(src='./assets/img/check.png' alt='checkbox list trigger')
    ul.expandable-checkbox-list__dropdown
      li.expandable-checkbox-list__item
        +checkboxButton('Завтрак')(class='expandable-checkbox-list__checkbox')
      li.expandable-checkbox-list__item
        +checkboxButton('Письменный стол')(class='expandable-checkbox-list__checkbox', checked)
      li.expandable-checkbox-list__item
        +checkboxButton('Стул для кормления')(class='expandable-checkbox-list__checkbox', checked)
      li.expandable-checkbox-list__item
        +checkboxButton('Кроватка')(class='expandable-checkbox-list__checkbox', checked)
      li.expandable-checkbox-list__item
        +checkboxButton('Телевизор')(class='expandable-checkbox-list__checkbox')
      li.expandable-checkbox-list__item
        +checkboxButton('Шампунь')(class='expandable-checkbox-list__checkbox')
mixin radioButton(text, name, value)
  label.radio-button
    input.radio-button__input(type='radio' name=name value=value)
    .radio-button__img
      //virtual element
    span.radio-button__text=text
mixin radioButtons(title)
  .radio-buttons
    .radio-buttons__title.title-form=title
    .radio-buttons__buttons
      +radioButton('Мужчина', 'gender', 'male')
      +radioButton('Женщина', 'gender', 'female')
mixin toggleButton(name)
  label.toggle
    input.toggle__input(type='checkbox')&attributes(attributes)
    span.toggle__img
    span.toggle__text=name
mixin likeButton(count)
  button.button-like&attributes(attributes)
    .button-like__count&attributes(attributes)=count
mixin rateButton(value)
  .rate(data-total-value=value)
    .rate__item(data-item-value='5')
      img.rate__star-border(src='./assets/img/rate-star-border.svg')
      img.rate__star(src='./assets/img/rate-star.svg')
    .rate__item(data-item-value='4')
      img.rate__star-border(src='./assets/img/rate-star-border.svg')
      img.rate__star(src='./assets/img/rate-star.svg')
    .rate__item(data-item-value='3')
      img.rate__star-border(src='./assets/img/rate-star-border.svg')
      img.rate__star(src='./assets/img/rate-star.svg')
    .rate__item(data-item-value='2')
      img.rate__star-border(src='./assets/img/rate-star-border.svg')
      img.rate__star(src='./assets/img/rate-star.svg')
    .rate__item(data-item-value='1')
      img.rate__star-border(src='./assets/img/rate-star-border.svg')
      img.rate__star(src='./assets/img/rate-star.svg')
mixin checkboxButtonWithDescription(title,description)
  label.checkbox
    input.checkbox__input(type='checkbox')&attributes(attributes)
    span.checkbox__img
    .checkbox__content
      .checkbox__title=title
      .checkbox__description=description
mixin richCheckboxButtons(title)
  .rich-checkbox-buttons
    .rich-checkbox-buttons__title.title-form=title
    ul.rich-checkbox-buttons__checkbox-list
      li.rich-checkbox-buttons__checkbox-item
        +checkboxButtonWithDescription('Широкий коридор',
          'Ширина коридоров в номере ' +
        'не менее 91 см.')(class='rich-checkbox-buttons__button')
      li.rich-checkbox-buttons__checkbox-item
        +checkboxButtonWithDescription('Помощник для инвалидов','На 1 этаже вас встретит специалист  и проводит до номера.')(class='rich-checkbox-buttons__button')
mixin rangeSlider(title,min,max,step,value1,value2)
  .range-slider
    .range-slider__top
      .range-slider__title.title-form=title
      .range-slider__values
        span.range-slider__value.range-slider__value_1 5 000
        span.range-slider__rub ₽
        span.range-slider__dash -
        span.range-slider__value.range-slider__value_2 10 000
        span.range-slider__rub ₽
    .range-slider__slider
      input.range-slider__runner#input-left(type='range', step=step, min=min, max=max, value=value1)
      input.range-slider__runner#input-right(type='range', step=step,  min=min, max=max, value=value2)
      .range-slider__container
        .range-slider__track
        .range-slider__range
        .range-slider__thumb.range-slider__thumb_left
        .range-slider__thumb.range-slider__thumb_right
mixin buttonColor(text)
  button.button.button-color=text
mixin buttonTransparent(text)
  button.button.button-transparent=text
mixin buttonLink(text, href)
  a.button-link(href=href)=text
mixin buttonSizeLarge(text)
  button.button.button-size-large=text
mixin pagination
  .pagination
    .pagination__top-block
      button.pagination__return-button
      .pagination__number-page.active
        a.pagination__page-link(href='#') 1
      .pagination__number-page
        a.pagination__page-link(href='#') 2
      .pagination__number-page
        a.pagination__page-link(href='#') 3
      .pagination__more ...
      .pagination__number-page
        a.pagination__page-link(href='#') 15
      button.pagination__forward-button
    .pagination__information-line 1 – 12 из 100+ вариантов аренды
mixin bulletList(title)
  .bullet-list
    .bullet-list__title.title-form=title
    ul.bullet-list__list
      li.bullet-list__item Нельзя с питомцами
      li.bullet-list__item Без вечеринок и мероприятий
      li.bullet-list__item Время прибытия — после 13:00, а выезд до 12:00
mixin roomDetailsItem(img, title, text)
  .room-details__container
    .room-details__item
      .room-details__img
        img(src=img)
      .room-details__info
        .room-details__title=title
        .room-details__text=text
    .room-details__line
mixin reviews(img, name, data, count, text)
  .reviews
    .reviews__user-profile
      .reviews__user-avatar
        img(src=img)
      .reviews__user-info
        .reviews__user-name=name
        .reviews__data=data
    .reviews__user-review
      +likeButton(count)&attributes(attributes)
      .reviews__user-review-text=text

.form-elements
  .form-elements__column-one
    +inputField
    +dropdown
    +inputMaskedField
    +dataDropdown
    +filterDateDropdown
    +subscriptionField
    +dropdownSelection
    +expandableCheckboxList
    .room-details
      +roomDetailsItem('./assets/img/smile-icon.svg', 'Комфорт', 'Шумопоглощающие стены')
      +roomDetailsItem('./assets/img/city-icon.svg', 'Удобство', 'Окно в каждой из спален')
  .form-elements__column-two
    +checkboxButtons('Checkbox Buttons')
    +radioButtons('Radio Buttons')
    .toggle__wrap
      .toggle__title.title-form Toggle
      .toggle__item
        +toggleButton('Получать спецпредложения')(class='toggle-button')
    .like-button__container
      .like-button__title.title-form like button
      .like-button__buttons
        +likeButton(2)
        +likeButton(12)(class='like')
    .rate-button__container
      .rate-button__title.title-form rate button
      .rate-button__rate
        + rateButton(4)
        + rateButton(5)
    +dropdownQuests
    +richCheckboxButtons('rich checkbox buttons')
    +reviews('./assets/img/user-image.jpg','Мурад Сарафанов', '5 дней назад', 12,'Великолепный матрас на кровати в основной спальне!' +
    ' А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.' +
    ' Выкрикивал комплименты повару — никто не жаловался из соседей.')(class='like')
  .form-elements__column-three
    +rangeSlider('range slider','0','15000','100','5000','10000')
    .buttons
      .buttons__title.title-form buttons
      .buttons__item
        +buttonColor('CLICK ME')
        +buttonTransparent('CLICK ME')
        +buttonLink('CLICK ME')
        +buttonSizeLarge ('перейти к оплате')
    .pagination__wrap
      .pagination__title.title-form pagination
      +pagination
    +bulletList('bullet list')




