mixin inputField
  .input-field.container-input-field
    h3.input-field__title.title-form text field
    input.input-field__input.long-input(type='email' placeholder='Email')
mixin dropdown
  .dropdown.container-input-field
    h3.dropdown__title.title-form dropdown
    .dropdown__input-wrap.input-wrap
      input.dropdown__input.long-input(placeholder='Сколько гостей')
mixin inputMaskedField
  .input-masked.container-input-field
    h3.input-masked__title.title-form masked text field
    input.input-field__input.long-input(type='text' placeholder='ДД.ММ.ГГГГ')
mixin dataDropdown
  .date-dropdown.container-input-field
    .dropdown
      h3.dropdown__title.title-form date dropdown
      .dropdown__input-wrap.input-wrap
        input.dropdown__input.short-input(placeholder='ДД.ММ.ГГГГ')
    .dropdown
      h3.dropdown__title.title-form date dropdown
      .dropdown__input-wrap.input-wrap
        input.dropdown__input.short-input(placeholder='19.08.2019')
mixin filterDateDropdown
  .filter-date-dropdown.container-input-field_middle
    h3.title-form filter date dropdown
    .input-wrap
      input.filter-date-dropdown__input.middle-input(placeholder='19 авг - 23 авг')
mixin subscriptionField
  .subscription-field.container-input-field_middle
    h3.title-form subscription text field
    .input-wrap_void
      input.subscription-field__input.middle-input(placeholder='Email')
      button.subscription-field__button(type='submit')
        img.subscription-field__button-img(src='./assets/img/arrow-forward.svg' alt='button subscription')
mixin quantityChangeBlock(count)
  .quantity-change-block(data-step='1' data-min='0' data-max='10')
    button.button-minus(data-title=count) -
    input.quantity(type='text' name=count value='2' readonly)
    button.button-plus(data-title=count) +

mixin dropdownSelection
  .dropdown-select.container-input-field_middle
    .dropdown-select__title.title-form dropdown
    .dropdown-select__select
      input.dropdown-select__backdrop.middle-select(value='2 спальни, 2 кровати...' readonly)
      button.dropdown-select__trigger
        img.dropdown-select__trigger-img(src='./assets/img/check.png' alt='select trigger')
      ul.dropdown-select__dropdown.dropdown-container
        li.dropdown-select__item
          .title-form спальни
          +quantityChangeBlock('bedrooms')
        li.dropdown-select__item
          .title-form кровати
          +quantityChangeBlock('bed')
        li.dropdown-select__item
          .title-form ванные комнаты
          +quantityChangeBlock('bathrooms')
mixin checkboxButton(id,name)
  input.input-checkbox(type='checkbox' id=id)&attributes(attributes)
  label(fot=id)=name
mixin expandableCheckboxList
  .expandable-checkbox-list
    .expandable-checkbox-list__title.title-form expandable checkbox list
    button.expandable-checkbox-list__trigger
      img.expandable-checkbox-list__trigger-img(src='./assets/img/check.png' alt='checkbox list trigger')
    ul.expandable-checkbox-list__dropdown
      li.expandable-checkbox-list__item
        +checkboxButton('breakfast','Завтрак')(class='expandable-checkbox-list__checkbox')
      li.expandable-checkbox-list__item
        +checkboxButton('table','Письменный стол')(class='expandable-checkbox-list__checkbox', checked)
      li.expandable-checkbox-list__item
        +checkboxButton('chair','Стул для кормления')(class='expandable-checkbox-list__checkbox', checked)
      li.expandable-checkbox-list__item
        +checkboxButton('crib','Кроватка')(class='expandable-checkbox-list__checkbox', checked)
      li.expandable-checkbox-list__item
        +checkboxButton('tv','Телевизор')(class='expandable-checkbox-list__checkbox')
      li.expandable-checkbox-list__item
        +checkboxButton('shampoo','Шампунь')(class='expandable-checkbox-list__checkbox')



.form-elements
  +inputField
  +dropdown
  +inputMaskedField
  +dataDropdown
  +filterDateDropdown
  +subscriptionField
  +dropdownSelection
  +inputField
  +expandableCheckboxList



