mixin rangeSlider(title,min,max,step,value1,value2)
  .range-slider
    .range-slider__top
      .range-slider__title.title-form=title
      .range-slider__values
        span.range-slider__value.range-slider__value_1 5 000
        span.range-slider__rub ₽
        span.range-slider__dash -
        span.range-slider__value.range-slider__value_2 10 000
        span.range-slider__rub ₽
    .range-slider__slider
      input.range-slider__runner#input-left(type="range", step=step, min=min, max=max, value=value1)
      input.range-slider__runner#input-right(type="range", step=step,  min=min, max=max, value=value2)
      .range-slider__container
        .range-slider__track
        .range-slider__range
        .range-slider__thumb.range-slider__thumb_left
        .range-slider__thumb.range-slider__thumb_right